@use '../../app/variables' as *;

.container {
  position: absolute;
  z-index: 10;
  top: 3.6rem;
  left: 3.4rem;

  .link {
    .img {
      height: 3.4rem;
      width: auto;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .container {
    top: 4.2rem;
    left: 3.6rem;

    .link {
      .img {
        height: 3.6rem;
      }
    }
  }
}

@media (min-width: $breakpoint-2xl) {
  .container {
    top: 4.6rem;
    left: 3.8rem;

    .link {
      .img {
        height: 3.8rem;
      }
    }
  }
}

@media (min-width: $breakpoint-3xl) {
  .container {
    top: 5rem;
    left: 4rem;

    .link {
      .img {
        height: 4rem;
      }
    }
  }
}

@media (min-width: $breakpoint-4xl) {
  .container {
    top: 6.5rem;
    left: 5.2rem;

    .link {
      .img {
        height: 5.2rem;
      }
    }
  }
}

@media (min-width: $breakpoint-5xl) {
  .container {
    top: 10rem;
    left: 8rem;

    .link {
      .img {
        height: 8rem;
      }
    }
  }
}
